link(rel='stylesheet', href='css/chatwindow.css')
script.
  /*$(function(){
    $('#chat-content').slimScroll({
      height: '500px',
    });
  });*/

block content
    .col-md-10.col-md-offset-1.col-xs-12(ng-controller='ChatWindowCtrl')
        .col-md-8.hidden-xs
            .row
                .col-md-12.text-center.heading-banner
                    label Conversation with {{chatUser.displayname}}
                    .btn.btn-default.btn-xs.pull-right
                        .glyphicon.glyphicon-envelope
                    .btn.btn-default.btn-xs.pull-right
                        .glyphicon.glyphicon-download-alt
            .row
                .content-box.col-md-12
                    .row#chat-content(ng-slim-scroll slim-scroll-height='400px')
                        .col-md-12
                            .media(ng-repeat='msg in msgs')
                                img.media-object.pull-left(ng-hide='isSystemMsg(msg)', ng-src='{{getPicture(msg.from)}}', style='width:40px;height:40px')
                                .media-body
                                    p {{msg.msg}}
                    .row.chat-send-form
                        .col-md-12
                            .input-group
                                textarea.form-control(type='text', ng-model='msgSendText', ng-enter='sendMsg(msgSendText)', ng-focus='checkForUsername()')
                                span.input-group-addon
                                    button#msg-send-button.btn.btn-primary(type='submit', ng-click='sendMsg(msgSendText)', disabled) Send
        .col-md-4.col-xs-12
            .row.clearfix.content-box(style='padding: 5px; padding-bottom: 10px;')
                .col-md-12.col-xs-12
                    .col-md-4.col-xs-4(style='padding-left: 0px;')
                        img.pull-left(alt='140x140', ng-src='{{chatUser.picture}}', style='width: 80px; height: 80px;')
                    .col-md-8.col-xs-8
                        h3(style='margin-top: 0px;')
                            | {{chatUser.displayname}}

                        .col-md-4
                            .label.label-success(ng-show='chatUserOnline') Online
                            .label.label-danger(ng-hide='chatUserOnline') Unavailable

            .row.hidden-xs
                .col-md-12.heading-banner.text-center
                    label About
                .col-md-12.content-box(style='padding: 5px; white-space: pre-wrap;')
                    p(style='text-align: justify') {{chatUser.about}}
        .visible-xs.col-xs-12.content-box
            .row
                .col-xs-12.text-center.heading-banner
                    label Conversation with {{chatUser.displayname}}
                    .btn.btn-default.btn-xs.pull-right
                        .glyphicon.glyphicon-envelope
                    .btn.btn-default.btn-xs.pull-right
                        .glyphicon.glyphicon-download-alt

            .row#chat-content(ng-slim-scroll slim-scroll-height='400px')
                .col-xs-12
                    .media(ng-repeat='msg in msgs')
                        img.media-object.pull-left(ng-hide='isSystemMsg(msg)', ng-src='{{getPicture(msg.from)}}', style='width:40px;height:40px')
                        .media-body
                            p {{msg.msg}}
            .row(style='position: fixed; bottom: 40px;')
                .col-xs-12(style='margin-left: auto; margin-right: auto; padding-left: 0px; width: 100%;')
                    .input-group
                        textarea.form-control(type='text', ng-model='msgSendText', ng-enter='sendMsg(msgSendText)', ng-focus='checkForUsername()')
                        span.input-group-addon
                            button#msg-send-button-xs.btn.btn-primary(type='submit', ng-click='sendMsg(msgSendText)', disabled) Send


        .modal.fade(id='UserDetailsDialog', tabindex='-1', role='dialog', aria-labelledby="Create Discussion", aria-hidden="true")
            .modal-dialog
                .modal-content
                    .col-md-12
                        .row
                            .col-md-12.heading-banner.text-center
                                label(ng-show='chatUserOnline') Please provide your details
                                label(ng-hide='chatUserOnline') Offline
                                button.close(data-dismiss="modal", aria-hidden="true") ×
                    .col-md-12
                        .col-md-12.text-center(style='margin-top: 5px;')
                            p(ng-hide='chatUserOnline') {{userFromURL}} seems to be offline right now. he says "{{chatUser.offline_message}}".
                            p(ng-show='chatUserOnline') A chat request will be sent to {{userFromURL}}, please give your name and topic for the chat.
                        .col-md-12
                            form.init-form(role='form', name='InitChatForm', novalidate)
                                .form-group
                                    input.form-control(id='username', placeholder='Your Name', name='uName', type='text', ng-model='newChat.username', required)
                                .form-group
                                    textarea.form-control(id='topic', placeholder='Message', name='uTopic', type='text', rows='5', ng-model='newChat.topic', style='width: 98%')
                    .modal-footer
                        .btn.btn-primary(id='init_chat_btn', type='submit', ng-click='initChat(newChat)', ng-disabled='InitChatForm.$invalid') Start Chatting
