link(rel='stylesheet', href='css/chatwindow.css')
block content
    .container(ng-controller='ChatWindowCtrl')
        .row
            .col-md-8.well.well-sm
                .row.chat-area
                    .col-md-12
                        .media(ng-repeat='msg in msgs', class='{{msg.from}}')
                            img.media-object(src='/img/rain.jpg', style='width:40px;height:40px')
                            .media-body
                                p {{msg.message}}
                .row.chat-send-form
                    .col-md-12
                        .input-group.col-md-12(data-spy='affix')
                            textarea.form-control(type='text', ng-model='msg')
                            span.input-group-addon
                                button.btn.btn-primary(type='submit', ng-click='sendMsg(msg)') Send
            .col-md-4
                .row.clearfix
                    .col-md-4
                        img(alt='140x140', src='http://lorempixel.com/100/100/')
                    .col-md-8
                        h3.text-primary.text-left
                            | {{chatUser.displayname}}
                        label {{chatUserStatus}}
