script.
    $('#fileupload').fileupload({
        dataType: 'json',
        progressall: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('.progress').css(
                'display', 'block'
            );
            $('.progress .progress-bar').css(
                'width',
                progress + '%'
            );
        },
        done: function (e, data) {
                $.each(data.result.files, function (index, file) {
                    $.post("/users/" + $('#userid').val(), {username: $('#user_name').val(), picture: file.url}, function(data){
                        console.log('updated profile pic');
                    });
                });
              }
    })


.well.well-lg.col-md-6(ng-controller='CompleteProfile')
    input(id='userid', type='hidden')
    input(id='user_name', type='hidden')
    .col-md-12(style='border-bottom: solid; border-color: rgb(143,143,143);')
        h3 Profile
    form.form-horizontal(role='form', style='padding: 20px;')
        .form-group
            label(for='fileupload') Choose your profile pic
            .col-md-12
                .fileinput.fileinput-new(data-provides='fileinput', style='padding-left: 10px;')
                    .btn.btn-default.btn-file.pull-left
                        .fileinput-new
                        .fileinput-exists
                        img(ng-src='{{currentUser.picture}}', style='height:80px; width:80px;')
                        input(id="fileupload", type="file", name="files[]", data-url="/upload", style='height:80px; width:80px;')
                    .fileinput-filename.pull-left(style='padding: 10px;')
                    a.close.fileinput-exists(href='#', data-dismiss='fileinput', style='float: right; padding-top: 10px;') &times;
            .progress(style='display: none')
                .progress-bar(id='fileuploadprogress', role='progressbar', aria-valuenow="0", aria-valuemin="0", aria-valuemax="100", style="width: 0%;")
            input(id='userid', type='hidden')
            input(id='user_name', type='hidden')

        .form-group
            label(for='displayName') Display Name
            input.form-control(id='displayName', ng-model='userinfo.displayname')
        .form-group
            label(for='gender') Gender
            .radio
                label
                    input(type='radio', value='M', id='gender_male', ng-model='userinfo.gender')
                    | male
            .radio
                label
                    input(type='radio', value='F', id='gender_female', ng-model='userinfo.gender')
                    | female
            .btn.btn-default.btn-primary(style='margin-top:20px;', ng-click='updateUser(userinfo)') Update




