link(rel='stylesheet', href='css/dash.css')

script.
  $(function(){
    /*$('#chat-content').height($(window).height()/2);
    $('#chat-content').slimScroll({
      height: 'auto',
    });*/
  });
block content
    .col-md-12
        div.col-md-9.column(style='border-right: solid; border-right-color: beige;')
            .row.well.well-sm(style='margin-bottom:5px;')
                div.col-md-12.col-xs-12
                    .col-md-2.col-xs-4
                        img.img-thumbnail(alt='140x140', ng-src='{{currentUser.picture}}', style='height:80px; width:80px;')
                    .col-md-10.col-xs-8
                        .label.label-success.pull-right Online
                        h5.text-left.pull-left
                            | {{currentUser.displayname}}
                        label.chat-url.text-primary(style='padding-left:20px;', data-toggle="tooltip", title="Share this URL")
                            img.hidden-xs.pull-left(src='img/p.png', style='width:15px; height:15px; margin-right:5px;')
                            | www.mpeers.com/{{currentUser.username}}
                        .hidden-xs.col-md-12(style='padding-left:0px; margin-top:10px;')
                            .label.label-default(style='position:absolute;') status
                            a(href='#', editable-textarea="currentUser.status_message", e-rows="7", e-cols="40", onbeforesave='updateStatus($data)', style='font-size: 12px;')
                                pre {{ currentUser.status_message || 'status not set' }}
            .row
                .col-md-12(ng-show='activeChat != null')
                    .row(ng-slim-scroll slim-scroll-height='350px')
                        .col-md-12(style='margin: 20px;')
                            .media(ng-repeat='msg in activeChatMsgs')
                                img.media-object.pull-left(ng-hide='isSystemMsg(msg)', ng-src='{{getPicture(msg.from)}}', style='width:30px;height:30px')
                                .media-body
                                    p {{msg.msg}}

                    .row.chat-send-form
                        .col-md-12(ng-show='activeChat != null')
                            .input-group.col-md-12
                                textarea#send-msg-text.form-control(type='text', ng-model='msgToSend', ng-enter='sendMsg(msgToSend)')
                                span.input-group-addon
                                    button.btn.btn-primary(type='submit', ng-click='sendMsg(msgToSend)') Send

        div.col-md-3.column
            div.row.clearfix(ng-controller='chatCtrl')
                div.col-md-12.chatrequests
                    .label.label-default Conversations
                    .list-group
                        a.list-group-item(href='#', ng-repeat='chat in chats', id='{{chat._id}}', ng-click='setActiveChat(chat)')
                            .media
                                img.pull-left.media-object(ng-src='{{getToUser(chat).picture}}', style='width:30px;height:30px')
                                .media-body
                                    p
                                        label.chat-user-name {{getToUser(chat).displayname}}
            .col-md-12#instructions
                h5.center-block(style='padding-left:30%; padding-top:10px;') Help
                ul(style='padding-left: 20px;')
                    li You can chat with registered people from the list on the left, by clicking on chat.
                    li You can share the URL (displayed below status message) anywhere on the web or your friends. On opening this link a peer page is seen from where they can chat.
                    li Chat requests can be accepted or rejected.
                    li Sometimes the user may be offline when you accept the request and may not respond. (sorry this is for alpha testing. will be improved)

        .modal.fade(id='ChatRequestDialog', tabindex='-1', role='dialog', aria-labelledby="Send Chat Request", aria-hidden="true")
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close(data-dismiss="modal", aria-hidden="true") ×
                        h5 Please provide a topic for discussion
                    .modal-body
                        p.text-success(ng-show='userToChat.chatUserOnline') {{userToChat.username}} is online now
                        p.text-warning(ng-hide='userToChat.chatUserOnline') {{userToChat.username}} is offline now
                        form(role='form')
                            .form-group
                                label(for='topic') Topic
                                textarea.form-control(id='topic', rows='5', ng-model='newChat.topic', style='width: 98%')
                    .modal-footer
                        button.btn.btn-default(ng-click='createNewChat(newChat)') Send request