link(rel='stylesheet', href='css/dash.css')

script.
  $('#file_upload').fileupload({
        forceIframeTransport: true,
        autoUpload: true,
        progressall: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('.progress').css(
                'display', 'block'
            );
            $('.progress .progress-bar').css(
                'width',
                progress + '%'
            );
        },
        add: function (event, data) {
          $.ajax({
            url: "/users/" + $('#userid').val() + "/uploadpic",
            type: 'GET',
            dataType: 'json',
            data: {fileName: data.files[0].name},
            async: false,
            success: function(retdata) {
              $('#file_upload').find('input[name=key]').val(retdata.key);
              $('#file_upload').find('input[name=policy]').val(retdata.s3PolicyBase64);
              $('#file_upload').find('input[name=signature]').val(retdata.s3Signature);
              $('#file_upload').find('input[name=Content-Type]').val(retdata.contentType);
            }

          });

          data.submit();
        },
        send: function(e, data) {
          $('#loading').show();
        },
        fail: function(e, data) {
          console.log('fail');
          console.log(data);
          $('#loading').hide();
        },
        done: function (e, data) {
                    $.post("/users/" + $('#userid').val(), {username: $('#user_name').val(), picture: $('#file_upload').find('input[name=key]').val()}, function(data){
                        $('#user_picture').val(data.picture);
                        $('#user_picture').trigger('input');
                        console.log('updated profile pic');
                        $('#loading').hide();
                    });
              }
    })

.col-md-10.col-md-offset-1.col-xs-12(ng-controller='DashCtrl')
    div(class="row row-offcanvas row-offcanvas-right")
        .col-md-9.col-xs-12(style='border-right: solid; border-right-color: beige;')
            .row#user-banner
                .col-md-12.col-xs-12
                    .col-md-2.col-xs-4
                        form#file_upload(action="https://mpeersdata.s3.amazonaws.com", method="post", enctype="multipart/form-data")
                            input(name='key', type='hidden')
                            input(name='AWSAccessKeyId', type='hidden', value='AKIAJFUUM2GSD5FQJ7EA')
                            input(name='acl', type='hidden', value='public-read')
                            input(name='success_action_status', type='hidden', value='200')
                            input(name='policy', type='hidden')
                            input(name='signature', type='hidden')
                            input(name='Content-Type', type='hidden')
                            //.fileinput.fileinput-new(data-provides='fileinput', style='margin-bottom: 0px; margin-top: 5px;')
                            .fileupload-content(style='margin-bottom: 0px; margin-top: 5px;')
                                .fileupload-progress
                            .file-upload
                                .btn.btn-default.btn-file.pull-left(style='padding: 1px;')
                                    img(ng-src='{{currentUser.picture}}', style='height:80px; width:80px;')
                                    input(type="file", name="file", style='height:80px; width:80px;')
                            img.center-block(id='loading', src='/img/loading.gif', style='position:fixed; height:60px; width:60px; display: none; padding-top: 20px; padding-left: 20px;')

                        input(id='userid', type='hidden')
                        input(id='user_name', type='hidden')
                        input(id='user_picture', ng-model='currentUser.picture', style='display: none')

                    .col-md-6.col-xs-7
                        h5.text-left(style='font-weight: bold;')
                            a(href='#', id='welcomeMsg', editable-text="currentUser.displayname", onbeforesave='updateStatus($data)', style='font-size: 12px; color: rgb(74, 65, 94);')
                                | {{ currentUser.displayname || 'display name' }}
                        .col-md-12(style='padding-left:0px;')
                            label {{currentUser.email}}
                        label.chat-url(style='', data-toggle="tooltip", title="Share this URL")
                            img.hidden-xs.pull-left(src='img/p.png', style='width:15px; height:15px; margin-right:5px;')
                            | www.mpeers.com/{{currentUser.username}}
                    .col-md-4.col-xs-1.pull-right
                        .btn.btn-default.btn-xs.pull-right(ng-click='activeChat = null')
                            .glyphicon.glyphicon-wrench

            .row
                #settings.col-md-12.col-xs-12(ng-hide='activeChat != null')
                    .row
                        .col-md-12.col-xs-12.text-center.heading-banner
                            label Settings

                        .col-md-12.col-xs-12.content-box
                            .col-md-12.col-xs-12(style='padding: 5px;')
                                .form-group
                                    label.col-md-12(for='welcomeMsg') Welcome message (max: 200 chars)
                                    .visible-xs
                                        a(href='#', id='welcomeMsg-xs', editable-textarea="currentUser.welcome_message", e-rows='3', onbeforesave='updateStatus($data)', style='font-size: 12px;', e-maxlength='200')
                                            pre {{ currentUser.welcome_message || 'Set the initial message to be shown to user' }}
                                    .hidden-xs
                                        a(href='#', id='welcomeMsg', editable-textarea="currentUser.welcome_message", e-rows='3', onbeforesave='updateStatus($data)', style='font-size: 12px;', e-style='width: 150%', e-maxlength='200')
                                            pre {{ currentUser.welcome_message || 'Set the initial message to be shown to user' }}
                                .form-group
                                    label.col-md-12(for='offlineMsg') Offline message (max: 200 chars)
                                    .visible-xs
                                        a(href='#', id='offlineMsg-xs', editable-textarea="currentUser.offline_message", onbeforesave='updateStatus($data)', style='font-size: 12px;', e-maxlength='200')
                                            pre {{ currentUser.offline_message || 'Set the message to show when you are offline' }}
                                    .hidden-xs
                                        a(href='#', id='offlineMsg', editable-textarea="currentUser.offline_message", onbeforesave='updateStatus($data)', style='font-size: 12px;', e-style='width: 150%', e-maxlength='200')
                                            pre {{ currentUser.offline_message || 'Set the message to show when you are offline' }}
                                .form-group
                                    label.col-md-12(for='about') About (max: 500 chars)
                                    .visible-xs
                                        a(href='#', id='about', editable-textarea="currentUser.about", e-rows='10', onbeforesave='updateStatus($data)', style='font-size: 12px;', e-maxlength='500')
                                            pre {{ currentUser.about || 'Details' }}
                                    .hidden-xs
                                        a(href='#', id='about', editable-textarea="currentUser.about", e-rows='10', onbeforesave='updateStatus($data)', style='font-size: 12px;', e-style='width: 150%', e-maxlength='500')
                                            pre {{ currentUser.about || 'Details' }}
                                .form-group
                                    label.col-md-12(class="control-label", for="descSignup") Description (max: 200 chars)
                                    .visible-xs
                                        a(href='#', id='offlineMsg', editable-textarea="currentUser.description", onbeforesave='updateStatus($data)', style='font-size: 12px;', e-maxlength='200')
                                            pre {{ currentUser.description || 'one line description' }}
                                    .hidden-xs
                                        a(href='#', id='offlineMsg', editable-textarea="currentUser.description", onbeforesave='updateStatus($data)', style='font-size: 12px;', e-style='width: 150%', e-maxlength='200')
                                            pre {{ currentUser.description || 'one line description' }}
                                .form-group
                                    label.col-md-12(class="control-label", for="locationSignup") Location
                                    .visible-xs
                                        a(href='#', id='offlineMsg', e-ng-autocomplete, editable-text="currentUser.location", onbeforesave='updateStatus($data)', style='font-size: 12px;')
                                            pre {{ currentUser.location || 'set location' }}
                                    .hidden-xs
                                        a(href='#', id='offlineMsg', e-ng-autocomplete, editable-text="currentUser.location", onbeforesave='updateStatus($data)', style='font-size: 12px;', e-style='width: 150%')
                                            pre {{ currentUser.location || 'set location' }}
                                .form-group
                                    label.col-md-12(class="control-label", for="phoneNoSignup") Contact no.
                                    .visible-xs
                                        a(href='#', id='offlineMsg', editable-text="currentUser.phone", onbeforesave='updatePhone($data)', style='font-size: 12px;', e-maxlength='20')
                                            pre {{ currentUser.phone || 'your contact phone number' }}
                                    .hidden-xs
                                        a(href='#', id='offlineMsg', editable-text="currentUser.phone", onbeforesave='updatePhone($data)', style='font-size: 12px;', e-style='width: 150%', e-maxlength='20')
                                            pre {{ currentUser.phone || 'your contact phone number' }}

                #chat-box.col-md-12.col-xs-12(ng-show='activeChat != null')
                    .row
                        .col-md-12.col-xs-12.text-center.heading-banner
                            label Conversation with {{getToUser(activeChat).displayname}}
                            .btn.btn-danger.btn-xs.pull-right(ng-click='removeChat(activeChat._id)')
                                .glyphicon.glyphicon-trash
                            .btn.btn-default.btn-xs.pull-right
                                .glyphicon.glyphicon-envelope
                            .btn.btn-default.btn-xs.pull-right
                                .glyphicon.glyphicon-download-alt
                    .row
                        .content-box.col-md-12.col-xs-12
                            .row#chat-content(ng-slim-scroll slim-scroll-height='350px')
                                .col-md-11.col-md-offset-1(style='margin-top: 20px;')
                                    .media(ng-repeat='msg in activeChatMsgs')
                                        img.media-object.pull-left(ng-hide='isSystemMsg(msg)', ng-src='{{getPicture(msg.from)}}', style='width:30px;height:30px')
                                        .media-body
                                            p {{msg.msg}}

                            .row.chat-send-form
                                .col-md-12.col-xs-12(ng-show='activeChat != null')
                                    .input-group.col-md-12.col-xs-12
                                        textarea#send-msg-text.form-control(type='text', ng-model='msgToSend', ng-enter='sendMsg(msgToSend)')
                                        span.input-group-addon
                                            button.btn.btn-primary(type='submit', ng-click='sendMsg(msgToSend)') Send

        .col-md-3.col-xs-10(class='sidebar-offcanvas', id='sidebar', role='navigation')
            .row.clearfix(ng-controller='chatCtrl')
                .col-md-12.col-xs-12.chatrequests
                    .col-md-12.col-xs-12.text-center.heading-banner
                        label Conversations
                    .list-group#conversation-list(ng-slim-scroll slim-scroll-height='500px')
                        a.list-group-item(href='#', ng-repeat="chat in chats | orderBy: 'created_at': true", id='{{chat._id}}', ng-click='setActiveChat(chat)', ng-class='{active: activeChat._id == chat._id, unseen: unseenChats[chat.room.toLowerCase()]}')
                            .media
                                img.pull-left.media-object(ng-src='{{getToUser(chat).picture}}', style='width:30px;height:30px')
                                .media-body
                                    p
                                        label.chat-user-name {{getToUser(chat).displayname}}
            .row.clearfix
                .col-md-12.col-xs-12#instructions
                    .col-md-12.col-xs-12
                        .row
                            .col-md-12.col-xs-12.text-center.heading-banner
                                label Quick tip
                        .row
                            .col-md-12.col-xs-12.content-box
                                p Share your chat URL online <strong> www.mpeers.com/{{currentUser.username}} </strong>
                                | you can share with your social network, websites, blogs, advertisements etc.

    .modal.fade(id='ChatRequestDialog', tabindex='-1', role='dialog', aria-labelledby="Send Chat Request", aria-hidden="true")
        .modal-dialog
            .modal-content
                .col-md-12
                    .row
                        .col-md-12.heading-banner.text-center
                            label What would you like to discuss about?
                            button.close(data-dismiss="modal", aria-hidden="true") ×
                .col-md-12
                    .col-md-12.text-center(style='margin-top: 5px;')
                        p.text-success(ng-show='userToChat.chatUserOnline') {{userToChat.displayname}} is online now
                        p.text-warning(ng-hide='userToChat.chatUserOnline') {{userToChat.displayname}} is offline now
                    .col-md-12
                        form(role='form')
                            .form-group
                                label(for='topic') Topic
                                textarea.form-control(id='topic', rows='5', ng-model='newChat.topic', style='width: 98%', required)
                .modal-footer
                    .btn.btn-primary(id='init_chat_btn', type='submit', ng-click='createNewChat(newChat)', ng-disabled='InitChatForm.$invalid') Start Chatting