link(rel='stylesheet', href='css/dash.css')

script.
  $(function(){
    /*$('#chat-content').height($(window).height()/2);
    $('#chat-content').slimScroll({
      height: 'auto',
    });*/
  });
block content
    .col-md-10.col-md-offset-1
        .col-md-9.column(style='border-right: solid; border-right-color: beige;')
            .row#user-banner(style='margin-bottom: 10px;')
                .col-md-12.col-xs-12
                    .col-md-2.col-xs-4
                        img.img-thumbnail.pull-right(alt='140x140', ng-src='{{currentUser.picture}}', style='height:80px; width:80px;')
                    .col-md-6.col-xs-8
                        h5.text-left(style='font-weight: bold;')
                            | {{currentUser.displayname}}
                        .hidden-xs.col-md-12(style='padding-left:0px;')
                            a(href='#', editable-text="currentUser.status_message", onbeforesave='updateStatus($data)', style='font-size: 12px;')
                                | {{ currentUser.status_message || 'One line description' }}
                        label.chat-url.text-primary(style='', data-toggle="tooltip", title="Share this URL")
                            img.hidden-xs.pull-left(src='img/p.png', style='width:15px; height:15px; margin-right:5px;')
                            | www.mpeers.com/{{currentUser.username}}
                    .col-md-4.pull-right
                        .btn.btn-default.btn-xs.pull-right(ng-click='activeChat = null')
                            .glyphicon.glyphicon-wrench

            .row
                #settings.col-md-12(ng-hide='activeChat != null')
                    .row
                        .col-md-12.text-center.heading-banner
                            label Settings

                        .col-md-12.content-box
                            .col-md-12
                                .form-group
                                    label.col-md-12(for='welcomeMsg') Welcome message
                                    a(href='#', id='welcomeMsg', editable-text="currentUser.welcome_message", onbeforesave='updateStatus($data)', style='font-size: 12px;')
                                        | {{ currentUser.welcome_message || 'Set the initial message to be shown to user' }}
                                .form-group
                                    label.col-md-12(for='offlineMsg') Offline message
                                    a(href='#', id='offlineMsg', editable-text="currentUser.welcome_message", onbeforesave='updateStatus($data)', style='font-size: 12px;')
                                        | {{ currentUser.welcome_message || 'Set the message to show when you are offline' }}
                                .form-group
                                    label.col-md-12(for='about') About
                                    a(href='#', id='about', editable-textarea="currentUser.welcome_message", onbeforesave='updateStatus($data)', style='font-size: 12px;')
                                        | {{ currentUser.welcome_message || 'Details' }}
                                .form-group
                                    label.col-md-12(class="control-label", for="descSignup") Description
                                    a(href='#', id='offlineMsg', editable-text="currentUser.welcome_message", onbeforesave='updateStatus($data)', style='font-size: 12px;')
                                        | {{ currentUser.welcome_message || 'one line description' }}
                                .form-group
                                    label.col-md-12(class="control-label", for="locationSignup") Location
                                    input(class="form-control", type="text", ng-autocomplete, id="locationSignup", ng-model='userSignup.location')
                                .form-group
                                    label.col-md-12(class="control-label", for="phoneNoSignup") Contact no.
                                    a(href='#', id='offlineMsg', editable-text="currentUser.welcome_message", onbeforesave='updateStatus($data)', style='font-size: 12px;')
                                        | {{ currentUser.welcome_message || 'your contact phone number' }}



                #chat-box.col-md-12(ng-show='activeChat != null')
                    .row
                        .col-md-12.text-center.heading-banner
                            label Conversation with {{getToUser(activeChat).displayname}}
                            .btn.btn-danger.btn-xs.pull-right(ng-click='removeChat(activeChat._id)')
                                .glyphicon.glyphicon-trash
                            .btn.btn-default.btn-xs.pull-right
                                .glyphicon.glyphicon-envelope
                            .btn.btn-default.btn-xs.pull-right
                                .glyphicon.glyphicon-download-alt
                    .row
                        .content-box.col-md-12
                            .row(ng-slim-scroll slim-scroll-height='350px')
                                .col-md-11.col-md-offset-1(style='margin-top: 20px;')
                                    .media(ng-repeat='msg in activeChatMsgs')
                                        img.media-object.pull-left(ng-hide='isSystemMsg(msg)', ng-src='{{getPicture(msg.from)}}', style='width:30px;height:30px')
                                        .media-body
                                            p {{msg.msg}}

                            .row.chat-send-form
                                .col-md-12(ng-show='activeChat != null')
                                    .input-group.col-md-12
                                        textarea#send-msg-text.form-control(type='text', ng-model='msgToSend', ng-enter='sendMsg(msgToSend)')
                                        span.input-group-addon
                                            button.btn.btn-primary(type='submit', ng-click='sendMsg(msgToSend)') Send

        .col-md-3.column
            .row.clearfix(ng-controller='chatCtrl')
                .col-md-12.chatrequests
                    .col-md-12.text-center.heading-banner
                        label Conversations
                    .list-group
                        a.list-group-item(href='#', ng-repeat='chat in chats', id='{{chat._id}}', ng-click='setActiveChat(chat)')
                            .media
                                img.pull-left.media-object(ng-src='{{getToUser(chat).picture}}', style='width:30px;height:30px')
                                .media-body
                                    p
                                        label.chat-user-name {{getToUser(chat).displayname}}
            .row.clearfix
                .col-md-12#instructions
                    .col-md-12
                        .row
                            .col-md-12.text-center.heading-banner
                                label Quick tip
                        .row
                            .col-md-12.content-box
                                p Share your chat URL online <strong> www.mpeers.com/{{currentUser.username}} </strong>
                                | you can share with your social network, websites, blogs, advertisements etc.


        .modal.fade(id='ChatRequestDialog', tabindex='-1', role='dialog', aria-labelledby="Send Chat Request", aria-hidden="true")
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close(data-dismiss="modal", aria-hidden="true") ×
                        h5 Please provide a topic for discussion
                    .modal-body
                        p.text-success(ng-show='userToChat.chatUserOnline') {{userToChat.username}} is online now
                        p.text-warning(ng-hide='userToChat.chatUserOnline') {{userToChat.username}} is offline now
                        form(role='form')
                            .form-group
                                label(for='topic') Topic
                                textarea.form-control(id='topic', rows='5', ng-model='newChat.topic', style='width: 98%')
                    .modal-footer
                        button.btn.btn-default(ng-click='createNewChat(newChat)') Send request