.container
    .row
        .column.col-md-6
            .jumbotron
                h1 Create and share your online contact point!!!
                p mPeers enables an user or a business to have an online contact point, where they can be reached for a chat and extend this reach online to all social networking platforms, websites, blogspots and other forums where users interact.
        .column.col-md-6
            .row
                h4(style='margin-left:auto; margin-right:auto; width:40%') Coming soon!!
            .row
                img(src='/img/demo1.jpg', style='width:80%')
