.container
  .row
    .col-md-6
      h2(class='text-center') Welcome to mPeers
      .well.well-small.text-center
        p mPeers enables an user or a business to have an online contact point, where they can be reached for a chat and extend this reach online to all social networking platforms, websites, blogspots and other forums where user interact.
          |about your ideas.   
    .col-md-6
      .container
        .login-form
          form(class='form-horizontal')
            .legend 
              .label.label-default Login
            .form-group
              label(class="col-md-1 control-label", for="userNameLogin") UserName
              .col-md-3
                input(class="form-control", type="text", id="userNameLogin", placeholder="UserName", ng-model='userLogin.username')
            .form-group
              label(class="col-md-1 control-label", for="inputPasswordLogin") Password
              .col-md-3
                input(class="form-control", type="password", id="inputPasswordLogin", placeholder="Password", ng-model='userLogin.password')
            .form-group
                label(class="checkbox") Remember me           
                  input(type="checkbox", ng-model='userLogin.remember')
                .btn.btn-primary(type='submit', ng-click='logUserIn(userLogin)') Sign in
    
        .signup-form
          form(class='form-horizontal')
            .legend
                .label.label-default Sign Up
            .form-group
              label(class="col-md-1 control-label", for="userNameSignup") UserName
              .col-md-3
                input(class="form-control", type="text", id="userNameSignup", placeholder="UserName", ng-model='userSignup.username')
            .form-group
              label(class="col-md-1 control-label", for="inputEmailSignup") Email
              .col-md-3
                input(class="form-control", type="text", id="inputEmailSignup", placeholder="Email", ng-model='userSignup.email')
            .form-group
              label(class="col-md-1 control-label", for="inputPasswordSignup") Password
              .col-md-3
                input(class="form-control", type="password", id="inputPasswordSignup", placeholder="Password", ng-model='userSignup.password')
            .form-group
              .btn.btn-info(type='submit', ng-click='signupUser(userSignup)') Sign up
        
        //.signup-ext
          label or signup with,
          a.btn.btn-default(href='/auth/google', target="_self") Google
          a.btn.btn-default(href='/auth/facebook', target="_self") Facebook

