link(rel='stylesheet', href='css/main.css')  
script.
  $(function(){
    $('#left-panel-inner').slimScroll({
      height: '600px',
    });
  });
  
block content   
  .row-fluid(ng-controller='MainCtrl')
    #left-panel.span2.affix
      #left-panel-inner
        ul(class='nav nav-tabs nav-stacked')
          li(ng-repeat='cat in cats', id='cat_{{cat}}')
            label.checkbox.pull-right
              input(type='checkbox')
            a(href='', ng-click='onCatSelected(cat)') {{cat + '(' + catCount[cat] + ')'}}
          
    #info-pane.span6
      ul(class="nav nav-tabs", id='mainTabs')
        li(class='active'): a(href="#discussions", data-toggle="tab") Discussions
        li: a(href="#people", data-toggle="tab") People
        li: a(href="#feeds", data-toggle="tab") Feeds
      
     
      .tab-content
        .tab-pane.active(id='discussions', ng-controller='discussionCtrl')
          .search-panel
            a.btn.btn-success.btn-small.pull-right(href='#createDiscDialog', data-toggle='modal') Create Discussion
            form.form-search.text-center
              input.input-large.search-query(type='text', style='width: 60%')
              button.btn(type='submit') 
                i.icon-search   

          .modal.hide.fade(id='createDiscDialog', tabindex='-1', role='dialog', aria-labelledby="Create Discussion", 
                         aria-hidden="true") 
            .modal-header
              button.close(data-dismiss="modal", aria-hidden="true") ×
              h5 Create Discussion
            .modal-body
              form.span12 
                textarea(id='discText', rows='5', ng-model='newDisc.content', style='width: 98%')
                label category 
                  select(ng-model='newDisc.category')
                    option(ng-repeat='cat in cats') {{cat}}
                label.chechbox group discussion
                  input(type='checkbox', ng-model='newDisc.type')
                
                button.btn.btn-small
                  i.icon-picture
            .modal-footer
              button.btn.btn-primary(ng-click='createDiscussion(newDisc)') create
          
          .container-fluid
            .row-fluid
              .topicbox.well.well-small(ng-repeat='disc in discussions | catFilter:selectedCat | orderBy:\'created_at\':true')
                .topic-heading
                  p created by {{disc.created_by.displayname}} on {{disc.created_at | date:short}}                    
                    button.btn.btn-mini.btn-inverse(id='{{"disc_add" + disc._id}}', style='margin-left: 20px;', ng-click='addUserToDisc(disc._id)', ng-hide='needToHideAdd(disc)') Add me
                      i.icon-plus-sign.icon-white
                    button.btn.btn-mini(id='{{"disc_rem" + disc._id}}', style='margin-left: 20px;', ng-click='removeUserFromDisc(disc._id)', ng-hide='needToHideRemove(disc)') remove me
                      i.icon-ok-circle

                p {{disc.content}}
                .row-fluid
                  .interested-user.span1(ng-repeat='user in disc.interested_users | removeCurrentUser' )
                    a(href="#", data-toggle="tooltip", title='{{user.displayname}}')
                      img.user-img(src='/img/rain.jpg')
                    .btn.btn-mini.btn-info(ng-click='initiateChat(user._id, disc._id)') chat                  
              
        .tab-pane(id='people')
          .container-fluid(ng-controller='userCtrl')
            .row-fluid
              .userbox.span2(ng-repeat='user in allUsers')
                label(style='margin-bottom:0px;') {{user.displayname}}
                img.span12.media-object(src='/img/rain.jpg', style='height: 80px;')            
                .btn.btn-small.span12 chat              

        .tab-pane(id='feeds') 
          h5 under construction        
    
    .right-panel.span4
      .row-fluid(data-spy='affix', data-offset-top='100', ng-controller='chatCtrl')
        h5.text-center Chat Requests 
        .chat-request-box.media(ng-repeat='req in chatReqs')
          img.pull-left.media-object.user-img(src='/img/rain.jpg')
          .media-body 
            p {{req.discussion}}
            .btn.pull-right.btn-mini.btn-primary(ng-click='acceptReq(req._id)') accept       

      .row-fluid
        h5.text-center Discussions
        p(id='noChats') no ongoing discussions
        div(id='candy', style='display:none')
//        h5.text-center Discussions
        ul.nav.nav-pills.nav-stacked 
          li
            a.chat-request-box.media(href='#')              
              img.pull-left.media-object.user-img(src='/img/rain.jpg')
              .media-body 
                p topic about which the user wants to talk appears here.       
          


            
        

