link(rel='stylesheet', href='css/profile.css')

.container-fluid
  .row-fluid.span6.offset1.media
    a(href='#')
     img.pull-left.profile-pic.media-object(src='/img/rain.jpg')
    .media-body.userinfo
      .span3
       h5 Vikram B N
       p(style='margin-bottom: 0px;') male
       p chats 25
      .span4
        h6 interests
        p sports, music, movies, gadjets, shopping
      .span2
        .btn-group.btn-group-vertical
          a.btn.btn-small.btn-inverse(href='#editProfileDialog', data-toggle='modal') edit
          button.btn.btn-small.btn-info chat

      .modal.hide.fade(id='editProfileDialog', tabindex='-1', role='dialog', aria-labelledby="Create Discussion", 
                         aria-hidden="true") 
        .modal-header
          button.close(data-dismiss="modal", aria-hidden="true") ×
          h5 Edit profile
        .modal-body
          form(class='form-horizontal')            
            .control-group
              label(class="control-label", for="displayName") Display Name
              .controls
                input(type="text", id="displayName", placeholder="Display name", ng-model='user.displayname')
            .control-group
              label(class="control-label", for="profilePic") Profile pic
              .controls
                img.profile-pic(src='/img/rain.jpg')
            .control-group
              label(class="control-label", for="gender") Gender
              .controls
                label.radio.inline male
                  input(type='checkbox', id='male') 
                label.radio.inline female 
                  input(type='checkbox', id='female') female
            .control-group
              .controls                
                .btn.btn-info(type='submit', ng-click='signupUser(user)') save              

         
  .row-fluid.offset1
    .info-pane.span7
      h6 Discussions
      .row-fluid
        .topicbox.well.well-small
          .topic-heading
            .topic-edit-tools.pull-right
              a(href='#') delete
              a(href='#') edit

            p created by vikram bn on 7th, aug 2013 discused 25 times so far                    
              
          p the topic of discussion is shown here. it can be anything from text, html content, audio from soundcloud
                  or video from youtube. this can be a conversation starter.
                  Tight pants next level keffiyeh you probably haven't heard of them. Photo booth beard raw denim letterpress vegan messenger bag stumptown. Farm-to-table seitan, mcsweeney's fixie sustainable quinoa 8-bit american apparel have a terry richardson vinyl chambray. Beard stumptown, cardigans banh mi lomo thundercats. Tofu biodiesel williamsburg marfa, four loko mcsweeney's cleanse vegan chambray. 
          .row-fluid
            .interested-user.span1
              img.media-object.user-img(src='/img/rain.jpg')            
              .btn.btn-mini.btn-info chat
            .interested-user.span1
              img.media-object.user-img(src='/img/rain.jpg')            
              .btn.btn-mini.btn-info chat
            .interested-user.span1
              img.media-object.user-img(src='/img/rain.jpg')            
              .btn.btn-mini.btn-info chat

        .topicbox.well.well-small
          .topic-heading
            .topic-edit-tools.pull-right
              a(href='#') delete
              a(href='#') edit

            p created by vikram bn on 7th, aug 2013 discused 25 times so far                    
              
          p the topic of discussion is shown here. it can be anything from text, html content, audio from soundcloud
                  or video from youtube. this can be a conversation starter.
                  Tight pants next level keffiyeh you probably haven't heard of them. Photo booth beard raw denim letterpress vegan messenger bag stumptown. Farm-to-table seitan, mcsweeney's fixie sustainable quinoa 8-bit american apparel have a terry richardson vinyl chambray. Beard stumptown, cardigans banh mi lomo thundercats. Tofu biodiesel williamsburg marfa, four loko mcsweeney's cleanse vegan chambray. 
          .row-fluid
            .interested-user.span1
              img.media-object.user-img(src='/img/rain.jpg')            
              .btn.btn-mini.btn-info chat
            .interested-user.span1
              img.media-object.user-img(src='/img/rain.jpg')            
              .btn.btn-mini.btn-info chat
            .interested-user.span1
              img.media-object.user-img(src='/img/rain.jpg')            
              .btn.btn-mini.btn-info chat

