.col-md-6
    #signup-form
        form(class='form-horizontal')
            .form-group
                label(class="col-md-3 control-label", for="userNameSignup") Username*
                .col-md-7
                    input(class="form-control", type="text", id="userNameSignup", placeholder="This will be used in URL", ng-model='userSignup.username')
            .form-group
                label(class="col-md-3 control-label", for="inputEmailSignup") Email*
                .col-md-7
                    input(class="form-control", type="text", id="inputEmailSignup", placeholder="Email", ng-model='userSignup.email')
            .form-group
                label(class="col-md-3 control-label", for="inputPasswordSignup") Password*
                .col-md-7
                    input(class="form-control", type="password", id="inputPasswordSignup", placeholder="Password", ng-model='userSignup.password')
            .form-group
                label(class="col-md-3 control-label", for="confirmPasswordSignup") Confirm Password*
                .col-md-7
                    input(class="form-control", type="password", id="confirmPasswordSignup", placeholder="Confirm password")
            .form-group
                label(class="col-md-3 control-label", for="compNameSignup") Name*
                .col-md-7
                    input(class="form-control", type="text", id="compNameSignup", placeholder="Display Name", ng-model='userSignup.displayname')
            .btn.btn-default(type='submit', ng-click='signupUser(userSignup)') Sign up