doctype html
html(xmlns:ng="http://angularjs.org", id='ng-app', ng-app="mainMod")
    head
        title= "mPeers"
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        block csslinks
            link(href='css/base.css', rel='stylesheet')
            link(href='css/bootstrap.css', rel='stylesheet')
            link(href='css/jasny-bootstrap.css', rel='stylesheet')
            link(rel='stylesheet', href='css/xeditable.css')
        block scripts
            script(src='js/lib/json3.min.js')
            script(src='js/lib/jquery.min.js')
            script(src='js/lib/jquery-ui.min.js')
            script(src='js/lib/jquery.ui.widget.min.js')
            script(src='js/lib/jquery.fileupload.js')
            script(src='js/lib/jquery.iframe-transport.js')
            script(src='js/lib/bootstrap/bootstrap.min.js')
            script(src='js/lib/bootstrap/jasny-bootstrap.min.js')
            script(src='/socket.io/socket.io.js')
            script(src='js/lib/angular.min.js')
            script(src='js/lib/angular-resource.min.js')
            script(src='js/lib/angular-route.min.js')
            script(src='js/lib/ui-bootstrap-0.7.0.min.js')
            script(src='js/lib/jquery.slimscroll.min.js')
            script(src='js/lib/strophe.min.js')
            script(src='js/lib/xeditable.min.js')

            script(src='js/controllers/authControllers.js')
            script(src='js/controllers/discussionCtrls.js')
            script(src='js/controllers/userCtrls.js')
            script(src='js/controllers/chatCtrls.js')
            script(src='js/controllers/mainCtrls.js')
            script(src='js/controllers/chatWinCtrls.js')
            script(src='js/controllers/dashCtrls.js')
            script(src='js/services.js')
            script(src='js/services/ChatServices.js')
            script(src='js/filters.js')
            script(src='js/directives.js')
            script(src='js/app.js')
    body(ng-controller='RootCtrl')
        #wrap
            .navbar.navbar-fixed-top.navbar-inverse
                .container.navbar-inner
                    a(class='navbar-brand', href='/', style='padding: 8px 5%;')
                        img(src='/img/logo.png', style='width:50%; height:100%')
                    .hidden-xs.label.label-danger.pull-left(style='margin-top: 20px;') Alpha testing
                    .nav.navbar-nav.navbar-right#userinfo(ng-show='isLoggedIn')
                        li.hidden-xs
                            a(class='pull-right', href='#', style='font-weight: bolder;', ng-click='editUserDetails()') {{currentUser.displayname}}
                        li.dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown', style='padding-top: 5px;')
                                img(class='img-rounded pull-right', ng-src='{{currentUser.picture}}', style='height:40px; width:40px;')
                            ul.pull-right.dropdown-menu(role="menu", aria-labelledby="dLabel")
                                li
                                    a(role='menuitem', href='#', ng-click='editUserDetails()') profile
                                li
                                    a(role='menuitem', href='#', ng-click='logUserOut()') logout

            .container
                div(ng-view, style='padding-top:60px; font-size: 12px;')

        #footer-line
            .navbar.navbar-fixed-bottom.navbar-inverse(style='min-height:20px;')
                .glyphicon.glyphicon-copyright-mark.text-muted.white Copyright 2013

