doctype html
html(xmlns:ng="http://angularjs.org", id='ng-app', ng-app="mainMod")
    head
        title= "mPeers"
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        block csslinks
            //only dev
            link(href='css/base.css', rel='stylesheet')
            link(href='css/bootstrap.css', rel='stylesheet')
            link(href='css/jasny-bootstrap.css', rel='stylesheet')
            link(rel='stylesheet', href='css/xeditable.css')

            //both dev and production

            //production
                link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
        block scripts
            //production scripts from CDN
                script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
                script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js')
                script(src='//cdnjs.cloudflare.com/ajax/libs/json3/3.3.0/json3.js')
                script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
                script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js')
                script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-resource.min.js')
                script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-route.min.js')
                script(src='build/app.min.js')

            // both in production and dev
            script(src='//maps.googleapis.com/maps/api/js?libraries=places&sensor=false')
            script(src='/socket.io/socket.io.js')

            //only dev
            script(src='js/lib/json3.min.js')
            script(src='js/lib/jquery.min.js')
            script(src='js/lib/jquery-ui.min.js')
            script(src='js/lib/jquery.fileupload.js')
            script(src='js/lib/jquery.iframe-transport.js')
            script(src='js/lib/bootstrap/bootstrap.min.js')
            script(src='js/lib/bootstrap/jasny-bootstrap.min.js')
            script(src='js/lib/angular.min.js')
            script(src='js/lib/angular-resource.min.js')
            script(src='js/lib/angular-route.min.js')

            script(src='js/lib/ngAutocomplete.js')
            script(src='js/lib/strophe.min.js')
            script(src='js/lib/xeditable.min.js')
            script(src='js/controllers/authControllers.js')
            script(src='js/controllers/userCtrls.js')
            script(src='js/controllers/searchCtrls.js')
            script(src='js/controllers/chatCtrls.js')
            script(src='js/controllers/chatWinCtrls.js')
            script(src='js/controllers/dashCtrls.js')
            script(src='js/services.js')
            script(src='js/services/ChatServices.js')
            script(src='js/filters.js')
            script(src='js/directives.js')
            script(src='js/app.js')
            script(src='js/lib/jquery.slimscroll.min.js')
            script .
                $(document).ready(function() {
                    $('[data-toggle=offcanvas]').click(function() {
                        $('.row-offcanvas').toggleClass('active');
                    });
                });


    body(ng-controller='RootCtrl')
        #wrap
            .col-md-12.col-xs-12
                .navbar.navbar-fixed-top.navbar-inverse
                    .navbar-header
                        button(type="button", class="navbar-toggle", data-toggle="collapse", data-target=".navbar-collapse")
                            .icon-bar
                            .icon-bar
                            .icon-bar
                        a(class='navbar-brand', href='/', style='padding: 10px 10px;')
                            img(src='/img/logo.png', style='width:100px;')
                    nav.collapse.navbar-collapse(role='navigation')

                        ul.nav.navbar-nav.navbar-right#userinfo(ng-show='isLoggedIn')
                            li.hidden-xs
                                a(href='#', style='font-weight: bolder;', ng-click='editUserDetails()') {{currentUser.displayname}}
                            li.dropdown
                                a.dropdown-toggle(href='#', data-toggle='dropdown', style='padding-top: 5px;')
                                    img(class='img-rounded pull-right', ng-src='{{currentUser.picture}}', style='height:40px; width:40px;')
                                ul.pull-right.dropdown-menu(role="menu", aria-labelledby="dLabel")
                                    li
                                        a(role='menuitem', href='#', ng-click='removeAccount()') Remove account
                                    li
                                        a(role='menuitem', href='/changepassword') Change Password
                                    li
                                        a(role='menuitem', href='#', ng-click='logUserOut()') logout


                        ul.nav.navbar-nav.navbar-right#userinfo(ng-hide='isLoggedIn')
                            li
                                a(role='button', ng-href='/signup') Sign up
                            //.dropdown.hidden-xs.pull-right(style='padding-right: 5px;')
                                a.btn.btn-primary.dropdown-toggle(href="#", data-toggle="dropdown") Sign in
                                .dropdown-menu(ng-controller='LoginCtrl')
                                    form#login-form.form-horizontal
                                        .form-group
                                            .col-md-12
                                                input(class="form-control", type="text", id="userNameLogin", placeholder="UserName", ng-model='userLogin.username')
                                        .form-group
                                            .col-md-12
                                                input(class="form-control", type="password", id="inputPasswordLogin", placeholder="Password", ng-model='userLogin.password')
                                        .btn.btn-primary(type='submit', ng-click='logUserIn(userLogin)') Sign in
                        form.navbar-form.navbar-right
                            .input-group.input-group-sm(style="max-width:360px; margin-top: 5px;")
                                input.form-control(type='text', placeholder='search by name', ng-model='searchQuery', ng-enter='search(searchQuery)')
                                .input-group-btn
                                    .btn.btn-default(ng-click='search(searchQuery)')
                                        .glyphicon.glyphicon-search


            .container
                div(ng-view, style='padding-top: 70px; font-size: 12px;')

        #footer-line
            .navbar.navbar-fixed-bottom.navbar-inverse(style='min-height:20px;')
                .glyphicon.glyphicon-copyright-mark.text-muted.white(style='font-size: 11px') Copyright 2013

