body {
  /*padding-top: 50px;
  padding-left: 50px;*/
  font: 11px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  background-color: rgb(247,247,247) !important;
}

.userinfo-false {
  visibility: hidden; 
}

.userinfo-true {
  visibility: visible; 
}

/*.footer-line {
    position: absolute;
    bottom: 0;
    background-color: #222222;
    left: 0;
    width: 100%;
} */

.white {
    color: #f0f0f0;
}

#footer-line .glyphicon {
    padding-left: 45%;
    margin: 10px;
}

#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

#userinfo a {
    margin-top: 10px;
    margin-right: 5px;
}

#login-form .form-group {
    margin-bottom: 5px;
}

p {
    word-wrap: break-word;
}