.chat-send-form{
    bottom: 0;
    position: relative;
}

.chat-area{
    min-height: 500px;
    height: 500px;
}

.chat_style_me img{
    float: right;
}

.chat_style_me .media-body p{
    float: right;
    padding-right: 10px;
}

.chat_style_other img{
    float: left;
}

.chat_style_other .media-body p{
    float: left;
    padding-left: 10px;
}

#status-box {
    background-color: rgb(247,247,247);
    margin: 10px;
}

#about-us {
    background-color: rgb(247,247,247);
    margin: 10px;
}

.heading-banner {
    background: rgb(74, 65, 94);
    padding: 3px 30px;
    color: #e7e7e7;
    font-size: 11px;
}

.heading-banner .btn {
    margin-right: 3px;
}

.content-box{
    background: #ffffff;
    border: solid;
    border-color: #f5f5f5;
    margin-top: 5px;
}

p {
    word-wrap: break-word;
}

.init-form input.ng-invalid.ng-dirty {
    border-color: #FA787E;
}

.init-form input.ng-valid.ng-dirty {
    border-color: #78FA89;
}

.init-form textarea.ng-invalid.ng-dirty {
    border-color: #FA787E;
}

.init-form textarea.ng-valid.ng-dirty {
    border-color: #78FA89;
}

