#login-form {
    background-color: rgb(247,247,247);
}

#login-form form {
    margin-left: 10px;
    margin-bottom: 10px;
}

#signup-form {
    background-color: rgb(247,247,247);
}

#signup-form form {
    margin-left: 10px;
    margin-bottom: 10px;
}

