#login-form {
    background-color: rgb(247,247,247);
}

#login-form form {
    margin-left: 10px;
    margin-bottom: 10px;
}

#signup-form {
    background-color: rgb(247,247,247);
}

#signup-form form {
    margin-left: 10px;
    margin-bottom: 10px;
}

.content-box{
    background: #ffffff;
    border: solid;
    border-color: #f5f5f5;
    margin-top: 5px;
    margin-left: 40px;
}

.content-box label{
    padding-left: 0px;
}

.heading-banner {
    background: rgb(74, 65, 94);
    padding: 3px 30px;
    color: #e7e7e7;
    font-size: 11px;
}

.heading-banner .btn {
    margin-right: 3px;
}

hr {
    border-color: #C7C7C7;
}



